/*--------------General----------*/
/* Fuente */

@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Poppins:wght@600&display=swap');
@import url('https://fonts.cdnfonts.com/css/gt-walsheim-trial');
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
                

/*https://responsively.app/download */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

html{
    font-size: 62.5%;

  
}

body{

    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 3rem;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
  }



/*----------------Navegador---------*/
.header{
    background-color: rgba(251,251,253,0.8);
    backdrop-filter: saturate(180%) blur(20px);
    border-bottom: 1px solid rgb(185, 185, 185);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    padding: 5px 10%;
    width: 100%;
    position: fixed;
    z-index: 50;
    top: 0%;
  }

  .header .logo{
    cursor: pointer;
    height: auto;
    margin-bottom: 0.4rem;

  }

  .header .logo img{
    height: 62px;
    width: auto;
    transition: all 0.3s;
  }

  .header .logo img:hover{
    transform: scale(1.1);
  }

  .header .nav-links{
    list-style: none;
  }

  .header .nav-links li{
    display: inline-block;
    padding: 0 20px;    
    margin-top: 1rem;
  }

  .header .nav-links li:hover{
    transform: scale(1.1);
  }

  .header .nav-links a{
    font-size: 20PX;
    color: #000000;
    text-decoration: none;    
  }

  .header .nav-links li a:hover{
    color: #a4a4a4;
  }

  .header .btm button{
    font-weight: 20px;
    color: #ffffff;
    padding: 9px 25px;
    background: #89c0ff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .btm{
    font-size: 16px;
    text-decoration: none;
  }

  .header .btm button:hover{
    background-color: #e2f1f8;
    color: #89c0ff;
    transform: scale(1.1);
  }

  .burger button{
    background-color: transparent;
    border: 0;
    display: none;
  }

  .menu-burger{
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem ;
    width: 600px;
    height: 300px;

    background-color: #0a0a0aef;
    backdrop-filter: blur(30px);
  }
  .menu-burger ul{
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .menu-burger ul li a{
    font-family: 'Poppins', sans-serif;
  text-decoration: none;
  font-size: 2rem;
  color: #ffffff;
  }

  .menu-burger ul li :hover{
    color: #a1cbfc;
  }
  .exit button img{

    width: 2.7rem;
    height: 2.7rem;
  }
  .exit button{
    background-color: transparent !important;
    position: absolute;
    top: 5%;
    right: 5%;
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
    border: 0;
    background-color: rgba(34, 33, 33, 0.897);

  }
  @keyframes entradaMenu{
    0%{
      top: -600%;
    }
    100%{
      top: 0%;
    }
  }
  @keyframes salidaMenu{
    0%{
      top: 0%;
    }
    99%{
      top: -600%;
    }
    100%{
      display: none;
    }
  }
  /*-------------------@media navegador--------------------------*/
  @media screen  and (max-width: 941px){
    .nav-links  li a{
      font-size: 1.5rem !important;
    }
  }
  @media screen  and (max-width: 925px){
    .nav-links  li a{
      font-size: 1.4rem !important;
    }
  }

  @media screen and (max-width: 800px){
  .burger button{
      width: 4rem;
      display: flex;
      background-color: transparent;
    }
    .menu-burger{
      left:0%;
      top: 0%;
      height: 300px;
      width: 100%;
    }
    .burger img:hover{
      transform: scale(1.2);
    }
  .nav-links{
      display: none;
    }
    .btm{
      display: none;
    }
    .btl{
      display: flex !important;
    }


  }

.espacio-nav{
    width: 100%;
    height: 55px;
}
  /*-------------------------Title---------------------------*/

  .headern    {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24rem;
    margin-top: 1rem;
    flex-direction: column;
   }
    
   h1{
    font-family: 'GT Walsheim Trial', sans-serif;                         
    font-size: clamp(3rem, 4vw, 6rem) !important;    
    text-align: center;
    margin: 1rem;                         
   }
   .headern h2{
    font-size: clamp(4rem, 4vw, 6rem)!important;
    color: #89C0FF;
    font-family: 'GT Walsheim Trial', sans-serif;  
   }
   /*----------------------------slider--------------------------*/
.marco-izquierdo{
  width: 75%;
  height: 100%;

}
.carousel , .carousel-inner,.carousel-item  ,.carousel-item.active, .w-100{
  height: 100% !important;
  border-radius: 2rem;  
}


  /*--------------------------marco Principal-------------------*/


  .marco-center{
    width: 100%;
    height: 55rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
    .marco-izquierdo{
       width: 35%;
       height: 100%;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       gap: 0.5rem;
       backdrop-filter: blur(30px);
    }
    .marco-derecho{
      width: 55%;
      border-radius: 2rem;
      height: 100%;
      background-color: #45a049;
    }
    .marco-descrip{
      width: 100%;
      height: 40%;
      display: flex;
    justify-content: center;
      border:  rgb(197, 197, 212) 2px solid;
      border-radius: 2rem;
    }
    #div1{
      margin-top: 2rem;
      width: 90%;
      font-size: 1.5rem;
    }
    #titleDes{
      font-size: 2rem;
      height: 12%;
    }
    .descrip{
      overflow-y: scroll;
      overflow-x: hidden;
      height: 75%;
      font-size: clamp(1.5rem,1.5vw,2rem);
    }
    .marco-bajo{
      width: 100%;
      height: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
     gap: 0.5rem;
    }
    .horarios{
      width: 49%;
      height: 100%;
      border:  rgb(197, 197, 212) 2px solid;
      border-radius: 2rem;
    }
    .contac{
      width: 49%;
      height: 100%;
      border:  rgb(197, 197, 212) 2px solid;
      border-radius: 2rem;  
    }

    /* precio y horario */
#precio{
  height: 20%;
  margin: 1rem;
  margin-bottom: 0.3;
  font-size: clamp(1rem, 1.2vw ,2rem);
  line-height: 3px;
}
#precio img{  
  margin: 0.4rem;
  width:clamp(2rem,2.5vw, 4rem) ;
}
#horario{
  height: 57%;
  margin: 1rem;
  margin-top: 2.6rem;
  font-size: clamp(1rem, 1.2vw ,2rem);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#horario img{
  margin: 0.5rem;
  margin-bottom: 0;
  width:clamp(2rem,2.5vw, 3rem)
}

/* tel y web */

  #telefono{
    background-image: url("../Multimedia/png-clipart-water-turquoise-font-water-blue-text.png");
    font-size:clamp(1rem, 1.2vw ,2rem);
    margin: 1.5rem 0 3rem 1rem;
  }
  #telefono img{
    margin: 0.5rem;
    width:clamp(2rem,2.5vw, 4rem) ;
  }
  #paginaWeb{
    margin-left: 1rem;
    font-size: clamp(1rem, 1.2vw ,2rem);
  }
  #paginaWeb img{
    margin: 0.5rem;
    width:clamp(2rem,2.5vw, 4rem) 
  }
.marco-maps{
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border:  rgb(197, 197, 212) 2px solid;
  border-radius: 2rem;
}

    /*----------Parte Baja---------*/
    .marco-segundario{
      width: 100%;
      height: 47rem;
      display: flex;
      justify-content: center;
      align-items: center; 
      gap: 2rem;
      background-color: #f5f5f7;
    }
    .marco-historia{
      width: 45%;
      height: 90%;
      background-color:#ffffff;
      border-radius: 2.5rem;
    }
    .marco-historia h3{
      width: 100%;
      text-align: center;
      margin-top: 1rem;
      font-family: 'Poppins', sans-serif;
      font-size: clamp(1.5rem, 2vw,2.2rem) !important;
      background: url('../Multimedia/subrayado1.1.1.png');
      background-position-x: center;
      background-position-y: center;
      background-size: cover;
      padding: 20px;
      color: #000000;
      
    }
    .tex-histo{
      margin: 2rem 3rem 1rem 4rem;
      font-size: 1.8rem;
      overflow: auto;
      height: 50%;
    }
    .BtnOrgarni{
      width: 100%;
      text-align: center;
      font-size: 2rem;
    }
    /* boton melo caramelo */
      .btn2{
          margin-top: 1rem;
          position: relative;
          display: inline-block;
          width: 277px;
          height: 50px;
          font-size: 1em;
          font-weight: bold;
          line-height: 60px;
          text-align: center;
          text-transform: uppercase;
          background-color: transparent;
          cursor: pointer;
          text-decoration:none;
          font-family: 'Roboto', sans-serif;
          font-weight:900;
          font-size:17px;
          letter-spacing: 0.045em;
      }
      
      .btn2 svg {
          position: absolute;
          top: 0;
          left: 0;
      }
      
      .btn2 svg rect {
      
          stroke-width: 4;
          stroke-dasharray: 353, 0;
          stroke-dashoffset: 0;
          -webkit-transition: all 600ms ease;
          transition: all 600ms ease;
      }
      .lapipz{
        color: #fb7d45  ;
        color: #fe7600 ;
      }
      
      .btn2 span{
        background: #fe7600;
        background: -moz-linear-gradient(left,#fe7600 0%, #fe7600 100%);
        background: -webkit-linear-gradient(left,#fe7600 0%, #f8aa83  100%);
        background: linear-gradient(to right, #fb7d45  0%, #f8aa83 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='FD7E41', endColorstr='#f8aa83',GradientType=1 );
      
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      }
      
      .btn2:hover svg rect {
          stroke-width: 4;
          stroke-dasharray: 196, 543;
          stroke-dashoffset: 437;

      }
    /* ----------------- */
    .marco-comentarios{
      width: 45%;
      height: 90%;
      background-color: rgba(255, 255, 255, 0.764);
      border-radius: 2.5rem;
      text-align: start;
    }
    .marco-comentarios h3{
      width: 60%;
      font-size: clamp(1.5rem, 2vw,2.2rem)!important;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Inter", sans-serif;
    }
  
    .puntua{
      font-size: clamp(1.5rem, 1.5vw,2rem);
      text-align: center;
      height: 100%;
      width: 15%;
      display: flex;
      justify-content: center;
      align-items: center;    
    }
    .puntua p{
      margin: 0 !important; 
    }
    .crear_coment{
      height: 100%;
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    #crear_coment{
      padding: 1.5rem;
      font-size: 1.5rem;
      background-color: #89c0ff;
      border: 0;
      border-radius: 2rem;
      color: #ffffff;
      transition: all 0.3s ease 0s;
    }
    #crear_coment:hover{
      background-color: #e2f1f8;
      color: #89c0ff;
      transform: scale(1.1);
    }
    .dif{
      margin-top: -1.8rem;
    }
    .opiniones_top{
      height: 21%;
      display: flex;  
      margin-bottom: 4px;
      border-bottom: solid #bebebe 1px;
      padding: 1rem;
    }
    .opiniones{
      height: 75%;
      overflow:auto;
      gap: 0.6rem;
      border-bottom-left-radius: 2.5rem;
      border-bottom-right-radius: 2.5rem;
      padding: 1rem;
    }
  
    #opini p{
        display: flex;
        justify-content: center;
    }

    .op{
      background-color: #fff1ea;
      width: 100%;
      height: auto;
      border-radius: 1.5rem;
      text-align: left;
      display: flex;
      align-items: center;
      flex-direction: column;
    
    }
    .op p{
      
       border-radius: 1rem;
       font-size: 1.6rem;
       width:auto; 
       margin: 0;

    }
    .op .te{
      width: 98%;
      padding: 1rem;
    }
    .opName{
      width: 100%;
      height: 5rem;
      background-color: #ffe0d1;
      border-top-left-radius: 1.5rem;
      border-top-right-radius: 1.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    
    /*------------- VR -------------*/
    .marco-Vr{
      display: flex;
      flex-direction: column;
      width: 100%;
      height:1380px;
      
    
    }
    .vr-interno{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 1.5rem;
      padding-top: 18rem;
     
    }

    .logo-vr{
    width: 11rem;
    height: 11rem;
    margin: 0 auto 44px auto;
    }
/* -----------------------------------------animacion logo vr -----------------------------------*/
.logo-animation {
  width: 11rem; 
  height: 11rem; 
  animation: rotate-logo 1.5s linear; /* nombre de la animación, duración, tipo de animación */
  animation-play-state: paused; 
}
@keyframes rotate-logo {
  0% {
    transform:rotate(0deg) ;
  }
  100% {
    transform: rotate(1000deg); 
  }
}


    /* ------------------------------------------------------------------------------------- */
    .title-vr{
      text-align: center;
      margin: 1rem;
      width: 980px;
      padding: 3rem;
    }
    .title-vr h4{
        font-size:clamp(4rem, 5vw, 8rem);
        line-height: 98%;
        color:#1d1d1f;
    }
    .text-vr{
      text-align: center;
      height: auto;
      width: 43%  ;
      }
      .tex-stro{
        color: #000000ad
      }
      .tuDes{
        color: #89c0ff
      }
    
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,500&display=swap');

      .text-vr p{
        margin: 1rem 4rem 0 4rem;
        font-size: clamp(1.8rem, 2vw,2.4rem);
        color: #86868b;
        font-family: 'Poppins', sans-serif;
      }
      #marcoImgVr{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50rem;
        width: 100%;
      }
      #imgVr{
        display: flex;
        justify-content: center;
        width: 60%;
        height: 100%;
      }
      #imgVr img{
        object-fit: cover;
        display: flex;
        justify-content: center;
        width: clamp(250px,40vw,400px);
        height:clamp(250px,40vw,400px);
      }
   
   
    
   
    @media screen and (max-width: 1150px){
      .title-vr{
        width: 80%;
      }
    }

    @media screen and (max-width: 800px) {
      .footer-superior{
    
        flex-direction: column;
      height: 75% !important;
      }
      .superior-izquierdo{
    
        margin-bottom: 0  !important;
        width: 90% !important;
      }
      .superior-derecho{
       width: 100% !important;
       border-left: 0rem !important;
       margin-left: 2rem;
     
      }
      footer{
        height: 35.5rem !important;
    
    
      }
      .option-footer{
        align-items: safe;
      }
      .superior-derecho .tex-form, form{
        margin-left: 1rem !important;
        margin-bottom: 0 !important;
      }
      .superior-izquierdo .logo-footer{
        height: 9rem;
        width: 15rem;
        margin-left: 1rem ;
        margin-right: 1rem;
      }
      .option-footer .btn{
        font-size: 1.4rem !important;
        margin-left: 1rem !important;
        padding: 3px 5px;
      }
      .redes-footer{
        position: relative;
          top: -50%;
          left: 4%;
        gap: 1.5rem !important;
      }
      .footer-inferior, .footer-sepa a{
        height: 25% !important;
        text-align: center;
      }
    }
    @media screen and (max-width: 675px){
      #opini p{
        margin-bottom: 0.3rem;
      }
      .btn2 span{
        font-size: 1rem;
      background: rgb(255,130,130);
      background: -moz-linear-gradient(left,  rgba(255,130,130,1) 0%, rgba(225,120,237,1) 100%);
      background: -webkit-linear-gradient(left,  rgba(255,130,130,1) 0%,rgba(225,120,237,1) 100%);
      background: linear-gradient(to right,  rgba(255,130,130,1) 0%,rgba(225,120,237,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8282', endColorstr='#e178ed',GradientType=1 );
      
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      }
      
      .btn2:hover svg rect {
          stroke-width: 4;
          stroke-dasharray: 80, 249;
          stroke-dashoffset: 160;
    
      }
      .btn2 svg rect{
        width: 150px;
        height: 40px;
      }
      .btn2 svg {
        width: 160px;
        height: 50px;
        left: auto;
      }
      .btn2{
        display: flex;
        flex-direction: column;
        justify-content: center;#marcoImgVr{
          height: 30rem;
          width: 1005;
        }
        align-items: center;
      }
      .texMas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      /* precio y horario */
      #precio img{  
        margin: 0.1rem;
    }
    .marco-center{
      flex-direction: column-reverse;
      height: 95rem;
      justify-content: center;
      align-items: center;
     }
     .marco-izquierdo{
      width: 98%;
     }
     .marco-derecho{
      width: 98%;
     }
     .texMas{
      font-size: 1.7rem;
     }
     .btnConoce{
      font-size: 1.5rem;
      margin-top: 6px;
      padding: 0.8rem 1rem;
     }
     .btnConoce a{
      font-size: 1.2rem;
     }
     /* telefono y veb */
      #telefono{
      font-size: 1.8rem;
      }
      #telefono img{
        width:3rem;
      }
      #paginaWeb{
        font-size: 1.8rem;
      }
      #paginaWeb img{
        width:3rem;
      }
      /* precio y horario */
      #precio{
        margin: 1.5rem 0 1rem 1rem;
        font-size: 1.8rem;
      }
      #precio img{  
        margin: 0.4rem;
        width:2.5rem ;
      }
      #horario{
        height: 60%;
        margin-top: 0.8rem;
        font-size: 1.5rem;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      #horario img{
        margin: 0.5rem;
        width: 2.5rem ;
      }
      .text-vr{
        text-align: center;
        height: auto;
        width: 63%  ;
        }
        
    }

    @media screen and (max-width: 555px){
    .text-vr{
      width: 70%;
    }
    .title-vr{
      width: 70%;
    }
    #precio{
      font-size: 1.4rem;
    }
    .text-vr p{
      font-size: 1.5rem;
      }
    }


@media screen and (max-width: 412px){
  .text-vr{
    width: 100%;
  }
  .title-vr{
    width: 90%;
  }
  .texMas{
    font-size: 1.3rem;
   }
   .btnConoce{
    padding: 0.2rem 1rem;
  }

}

@media screen and (max-width: 403px){
  #opini p{
    display: block;
  }
  #telefono{
  font-size: 1.5rem;
  }
  #telefono img{
    width:2.2rem;
  }
  #paginaWeb{
    font-size:1.5rem;
  }
  #paginaWeb img{
    width:2.2rem;
  }

 }

@media screen and (max-width: 290px){
 .tex-histo{
  height: 40%;
 }
}

