footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20rem;
    background-color: #2c3031;
  }
  .footer-superior{
    display: flex;
    height: 90%;
    border-bottom: white 1px outset;
    
  }
  .superior-izquierdo{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    gap: 1.5rem;
    margin-bottom: 2rem;
    
    
  }
  .superior-derecho{
    margin-top: 2rem;
    display: flex;

    justify-content: center;
    gap: 0rem;
    width: 50%;
    border-left: 1px white outset;
    margin-bottom: 2rem;
  }
  .superior-derecho .tex-form {
    margin-left: 2rem;
  }

  .tex-form{
    color: white;
    width: 80%;
    margin-top: 2rem;
   
  }
  form{
    color: white;
    width: 100%;
   height: 5rem;
  }
  .logo-footer{
    width:20rem;
    height: 14rem;
    margin-left: 4rem;
    margin-top: 0;
     margin-right: 3rem;
  }
  .option-footer{
     display: flex;
     justify-content: center;
     align-items: center;
    gap: 0rem ;

  }
  .option-footer  a{
    color: #ffffff;
   margin-left: 2rem;
  
   height:100% !important;
   padding: 3px 10px;
   font-size: 1.8rem !important;
   border-radius: 1rem !important;
   margin-bottom: 0 !important;
   margin-right: 0 !important;
  
  }
  .option-footer  a:hover{
    background-color: #683f3f9c !important;
   
  }
  .redes-footer{
  
    gap: 1rem;
    display: flex;
    flex-direction: column;
  width: 20%;
    margin-bottom: 1rem;
  }

  .redes-footer img{
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 0.5rem;
    
    
  }
  
  input[type="email"] {
    width: 190px;
    padding: 1px 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    background-color: #f8f8f8;
  }
  input[type="submit"] {
    width: 20%;
    background-color: #4caf50;
    color: white;
    padding: 2px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
  }
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  form input::placeholder{
    font-size: 15px;
  }
 
  .tex-form{
    font-size: 12px;
  }
  form label{
    font-size: 15px;
  }
  .footer-inferior {
    border: 1px solid white;
  }
  .footer-sepa{
    margin-left: 1rem;
  }
  .footer-inferior , .footer-inferior a{
    height: 10%;
    display: flex;
    color: white;
    gap: 3rem;
    text-decoration: none;
    font-size: 10px;
  }
  .footer-inferior a:hover{
    color: rgb(11, 201, 11);
  }

 /*--------- @media--------------*/
 @media screen and (max-width:800px) {
    .footer-superior{
    
        flex-direction: column;
      height: 75% !important;
      }
      .superior-izquierdo{
    
        margin-bottom: 0  !important;
        width: 90% !important;
      }
      .superior-derecho{
       width: 100% !important;
       border-left: 0rem !important;
       margin-left: 2rem;
     
      }
      footer{
        height: 35.5rem !important;
    
    
      }
      .option-footer{
        align-items: safe;
      }
      .superior-derecho .tex-form, form{
        margin-left: 1rem !important;
        margin-bottom: 0 !important;
      }
      .superior-izquierdo .logo-footer{
        height: 9rem;
        width: 15rem;
        margin-left: 1rem ;
        margin-right: 1rem;
      }
      .option-footer .btn{
        font-size: 1.4rem !important;
        margin-left: 1rem !important;
        padding: 3px 5px;
      }
      .redes-footer{
        position: relative;
          top: -50%;
          left: 4%;
        gap: 1.5rem !important;
      }
      .footer-inferior, .footer-sepa a{
        height: 25% !important;
        text-align: center;
      }
      
 }
 @media screen and (max-width: 421px) {
    .footer-inferior{
        font-size: 5px;
    }
 }