html{
  font-size: 62.5%;

}
body{
font-size: 16px;
width: 100%;

}


.marco-slider{
width: 100%;
background-color: rgba(151, 145, 133, 0.075);
border-left: rgba(44, 41, 39, 0.219) solid 2px;
border-right: 2px rgba(44, 41, 39, 0.219) solid ;
border-bottom:rgba(44, 41, 39, 0.219) solid 2px ;
height: 80rem;
display:  flex ;
align-items: center;
justify-content: right;
margin-top: -4.2rem;

}
.slider{
width: 80%;
height: 90%;
background-color: blueviolet;
}

.title-slider{
  background-color: rgba(151, 145, 133, 0.075);
  border-left: rgba(44, 41, 39, 0.219) solid 2px;
border-right: 2px rgba(44, 41, 39, 0.219) solid ;
border-top: 2px rgba(44, 41, 39, 0.219) solid ;
}
.contenedor {
max-width: 1700px;
width: 100%;

margin-left: 0rem;

}

/* --- --- CONTENEDOR PRINCIPAL --- --- */

.contenido-principal {
margin-bottom: 50px;
display: flex;
align-items: center;
}

.contenido-principal__imagen {
vertical-align: top;
margin-right: 30px;
width: 40%;
max-width: 550px;

}

.contenido-principal__contenedor {
width: 60%;
}

.contenido-principal__titulo {
font-weight: normal;
font-size: 28px;
}

.contenido-principal__resumen {
font-family: 'Open Sans', sans-serif;
line-height: 30px;
color: #CFCFCF;
}

/* --- --- CAROUSEL --- --- */
.carousel__contenedor {
position: relative;
}
.glider-slide img {
  max-width: 90%;
  height: 60rem;
  border-radius: 1rem;
}
.glider-slide{
  margin-right:1rem;
}
.carousel__anterior,
.carousel__siguiente {
position: absolute;
display: block;
width: 30px;
height: 50px;
border: none;
top: calc(50% - 35px);
cursor: pointer;
line-height: 30px;
text-align: center;
background: none;
color: #fff;
opacity: 20%;
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
opacity: 100%;
}

.carousel__anterior {
left: clamp(55%,89vw,95%);
top:  -55px;
color: #000;
opacity: 100%;
border-radius: 0.5rem;
background-color: #22141448;
}
.carousel__siguiente:hover, .carousel__anterior:hover {
background-color: #5a5e4681;
color: #680808;
}

.carousel__siguiente {
right: 15px;
top: -55px;
background-color: #22141448;
color: #000;
opacity: 100%;
border-radius: 0.5rem;
}

.carousel__lista {
overflow: hidden;
}

.carousel__elemento {
text-align: center;
width: 1000px !important;
}

.carousel__indicadores .glider-dot {
display: block;
width: 30px;
height: 5px;
background: #ffffff00;
/*opacity: .1;*/
border-radius: 0;
}

.carousel__indicadores .glider-dot:hover {
opacity: .5;
}

.carousel__indicadores .glider-dot.active {
opacity: 1;
background: #f5020200;
}

.caja{
position: relative;
display: inline-block;
width: 100%;
}
.caja-tex {
position: absolute;
z-index: 3;
font-size: 100%;
top: 66.2%;
border-radius: 1rem;
display: none;
flex-direction: column;
align-items: center;
left: 5%;
font-family: 'Poppins', sans-serif;
justify-content: center;
width: 90%;
color: black;
background-color: rgba(255, 255, 255, 0.473);
height: 20rem;


}
.title-slider{
  margin-left: 5px;
  margin-right: 5px;
  font-size: 200%;
  font-family: 'Poppins', sans-serif;
  width: 100%;
}
.barra-oculta{
  position: absolute;
  z-index: 5;
width: 100%;
height: 10rem;
  top: 99.5%;
background-color: #ffffff;
  width: 100%;

}
.caja:hover .caja-tex{
  display: flex;
  animation: zoomLetra 0.9s ease;
  background-color: rgba(255, 255, 255, 0.411);

}
@keyframes zoomLetra{
  0%{
    top: 110%;
    
  }
  
  100%{ 
    top: 66.2%;
    
  }
}