

@import url('https://fonts.cdnfonts.com/css/poppins');
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');


*{
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  /* animation: rotateL 5s ease; */
}
@keyframes rotateL{
  0%{transform: rotate(0); }
  100%{transform: rotate(360deg);}

}

html{
  font-size: 62.5%;
}
body{
  height: 100vh;
  width: 100%;
  font-size: 16px;
}
.frame-View{
width: 100%;
height: 100%;
display: flex;
}

/* ----------------------------------Confing View--------------------------------- */
#admiView{
display: flex;
}
#userView{
  display: none;
}

/* ---------------------------------------------------------------------------------- */


/* ------------------------------NAV------------------------- */
.nav{
  width: 25rem;
  height: 100%;
  background-color: rgb(22, 22, 22);
  border-right: .1px solid white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: fixed;
  border-right: solid rgb(155, 155, 155) 2.5px;
  }
.logo{
  color: white;
  height: 9rem;
  border-bottom: solid 2px beige;
}
.logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: white;
}
.logo a img{
  width: 80px;
  height: 80px;
}
.logo a:hover{
  color: azure;
  transform: scale(1.02);
}
.options{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  height: 40%;
  margin: 0 ;
  padding: 0 ;
}
.options li {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  width: 100%;
  height:17%;
  margin: 0 ;
  padding: 0 ;
}
.option{
  border: 0;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 2rem;
  background-color: rgb(35, 34, 34); 
  cursor: pointer;

}
.free{
  height: 38.6%;
}
.low-nav{
  height: 5%;
  display: flex; 
  align-items: center;
  justify-content: end;
}
.low-nav a{
  margin-right: 2rem;
  margin-bottom: 1rem;
}

/*---------------------------------------------Content---------------------------------------- */
.content{
  width: 100%;
  margin-left: 25rem;
  height: 100%;
  background-color: #f5f5f7;
}

.CView_title{
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  width: auto;
  padding: 1rem;
  border-top: solid #868686 2px ;
}
.CView{

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 5. */
#CVA2,#CVA5,#CVA4,#CVA3{
  display: none;
}
.ViewCenter{
  background-color: #f5f5f7;
  width: 110rem;
  height: 80rem;
  border: 4px solid rgb(208, 208, 208);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 3rem;
}
.VCC{
  background-color:  #e7e7ed;
  border: 4px solid rgb(208, 208, 208);
  width: 90rem;
  height: 80rem;
  border-radius: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}
.VC-profile{
  width: 100%;
  height: 34%;
  padding: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.PL{
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
  height: 100%;
  width: 45%;
}
.imgProfile{
  border-radius: 7rem;
  width: 15rem;
  height: 15rem;
  background-color: rgb(28, 27, 27);
  display: flex;
  align-self: center;
  justify-content: center;
}
.imgProfile img{
  border-radius: 6.5rem;
  width: 90%;
  height: 90%;
  position: relative;
  top: 4.5%;
  left: .4%;
}
.texP{
  font-size: 3rem;
  color: rgb(49, 49, 49);
  font-family: "Inter", sans-serif;
  font-size: 4rem;
}
.Pr{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12rem;
  height: 5rem;
  left: 18.9rem;
  top: 5rem;

}
.Pr button{
  position: relative;
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
  background-color: #1c7ce2;
  border-radius: 980px;
  color: #f5f5f7;
  font-family: "Inter", sans-serif;
}
.Pr button:hover{
  background-color: #e3efff;
  color: #1c7ce2;
  border: solid #519def 2px;
}

#BtnSummit{
  display: none;
}
.profile-info{
  width: 100%;
  height: 65%;
  border: 1px solid rgba(255, 255, 255, 0.084);
  border-radius: 3rem;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5rem;
}
.info{
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
  position: relative;
}
.update{
  color: white;
}
.update::placeholder{
  color: white;
}
.titleInfo{
  font-size: 2rem;
  color: #000000;
  margin: 1rem;
  text-align: start;
}
.update{
  display:none;
}

.update, .infoV,.infoVe{
  border: 2px solid rgb(170, 170, 170);
  padding: 1.5rem;
  width: 60%;
  height: 5rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  color: #2b2b2b;
}
/* general styles of information frames */
.textR{
  color: white;
  font-size: 3rem;
  height: 13%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  border-bottom: solid #919191 3px ;
  padding: 1.5rem;
}

.filters_manage_places{
  width: 75%;
  height: 100%;
  color: #1d1d1f;
}

.create_place{
  width: 25%;
  height: 100%;
  border-left: solid #d0d0d0 2px;
}

#load_place {
  margin-left:2rem ;
  width: 75%;
  height: 100% ;
  padding: 1rem;
  font-size: 2.6rem;
  background-color: #1c7ce2 ;
  color:#e3efff;
  font-family: "Inter", sans-serif;
  border-radius: 1.5rem;
}

#create_place {
  margin-left:2rem ;
  width: 75%;
  height: 100% ;
  padding: 1rem;
  font-size: 2.6rem;
  background-color: #1c7ce2 ;
  color:#e3efff;
  font-family: "Inter", sans-serif;
  border-radius: 1.5rem;
}

#create_place:hover{
  background-color: #e3efff;
  color: #1c7ce2;
}

#load_place:hover{
  background-color: #e3efff;
  color: #1c7ce2;
}

.listPublic ,.listmodal{
  height: 80%;
  width:90%;
  border-radius: 2rem;
  border: 5px solid #d0d0d0 ;
  overflow: scroll;
}

/* -----------------------------CVA2---------------------------------  */
.ViewCenter_review{
  background-color: #f5f5f7;
  width: 110rem;
  height: 80rem;
  border: 4px solid rgb(208, 208, 208);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 3rem;
  overflow: scroll;
}

.pending_publication{
  background-color: #e7e7ed;
  border: 5px solid rgb(182, 182, 182) ;
  width: 95%;
  height: 20rem;
  border-radius: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex ;
  align-items: center;
  justify-content: flex-start ;
  padding: 1.5rem;
}


.contentPending_img{
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contentPending_img img{
  height: 16rem;
  width:16rem;
  background-color:#ffffff;
}

.contentPending_center{
  height: 100%;
  width: 48%;
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  flex-direction: row;
}
.contentPending_center div{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1.3rem;
}

.pubPending_titulo{
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 2rem;
  overflow-y: hidden;
  overflow-y:auto;
  font-family: "Inter", sans-serif;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
}

.contentPending_centerLeft{
  width: 75%;
}

.contentPending_centerRight{
  height: 100%;

  display: flex;
  justify-content: space-around ;
  gap: 0.5rem !important;
}

.btnAcceptPub{
  width: 10rem;
  height: 100%;
  font-family: "Inter", sans-serif;
  background-color: #1c7ce2;
  color: #e3efff;
  border-radius: 1rem;
}
.btnAcceptPub:hover{
  background-color: #e3efff ;
  color: #1c7ce2 ;
}

.btnDenegPub{
  width: 10rem;
  height: 100%;
  font-family: "Inter", sans-serif;
  background-color: rgb(255, 133, 133);
  color: #e3efff;
  border-radius: 1rem;
}
.btnDenegPub:hover{
  background-color: #e3efff ;
  color:  rgb(255, 133, 133);
}
.btnDetailsPub{
  width: 10rem;
  height: 100%;
  font-family: "Inter", sans-serif;
  background-color: rgb(100, 100, 100);
  color: #e3efff;
  border-radius: 1rem;
}
.btnDetailsPub:hover{
  background-color: #e3efff ;
  color:  rgb(100, 100, 100);
}

.etiPub{
  padding: 5px;
  width: 10rem;
  height: 30rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  z-index: 10;
  display: none;
  overflow: auto;

  gap: .2rem;
  border-radius: 1rem;
  
  
}
.etiPub label {
text-align: center;
  text-wrap: nowrap;
  width: 100%;
  height: auto;
  font-size: 1.5rem;
}

.contentPending_centerBottom{
  height: 65%;
}

.pubPending_descrip{
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border: solid #d7d7d7 2px;
  border-radius: 1rem;
  padding: 1rem;
  overflow: scroll;
}

.contentPending_end{
  height: 100%;
  width: 28%;
  background-color: #ffffff;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pubPending_name{
  font-size: 2rem;
  color: #000000;
  margin: 1rem;
  text-align: start;
  font-family: "Inter", sans-serif;
  margin: 1rem;
}

.pubPending_date{
  margin: 1rem;
  background-color: #f5f5f7;
  width: 80%;
  height: 5rem;
  text-align: center;
  padding: 1rem;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  border-radius: 2rem;
}
/* -------------------------------------------------------------------- */


.public{
  background-color: #f5f5f7;
  border: 5px solid rgb(182, 182, 182) ;
  width: 90%;
  height: 10rem;
  margin-left: 4.5rem;
  border-radius: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex ;
  align-items: center;
  justify-content: center;
}


.public div{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
}

.infoPlaceD{
  height: 100% !important;
} 

.btnPlaces_datils{
  width: 75%;
  height: 100%;
  border-radius: 3rem;
  font-family: "Inter", sans-serif;
}
.btnPlaces_datils a{
  width: 75%;
  text-decoration: none;
  color: #1c7ce2;
  height: 100%;
  border-radius: 3rem;
  font-family: "Inter", sans-serif;
}

.btnUser{
  height: 100%;
  padding: 1rem !important;
}

.btnDelete_place{
  width: 40px;
  height: 40px;
  margin-right: 2rem;
  background-color: rgb(237, 83, 83);
  border-radius: 0.5rem;
}

.btnDelete_place:hover{
  background-color: rgb(255, 133, 133);
}

.btnEdit_place{
  width: 40px;
  height: 40px;
  background-color: #bfdbff ;
  border-radius: 0.5rem;
}

.btnEdit_place:hover{
  background-color: #deecff;
}

.infoPlaceT{
  background-color: #d9d9d9;
  height: 100% !important;
  width: 100% !important;
  border-radius: 3rem;
  color: #1d1d1f !important;
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: flex-start !important;
}

.infoPlace_name{
  text-align: center;
  width: 50%;
  height: 100%;
  background-color: #dcd7e8;
  border: solid  #beb6d0  2px ;
  padding: 1.4rem;
  border-radius: 3rem ;
  overflow-y:hidden;
  overflow-x: scroll;
  white-space: nowrap;
}

.infoPlace_text{
  margin-left: 1rem;
}

.infoplace_name{
  width: 80%;
  background-color: #e7e4f0;
}



.headPublic, .headPublicmodal,.headPublicUser{
  background-color:  rgba(2, 2, 21, 0.241);
  height:6rem;
  width: 58.5%;
  display: flex ;
  align-items: center;
  margin-left: 4.5rem;
  border: 10px solid rgba(255, 255, 255, 0.084) ;
  position: fixed;
  top: 20%;
  border-radius: .5rem;

}
.searchUser{
  top: 15%;
  width: 15%;
}

.searchUser input{
  width: 89%;
  background-color: transparent;
  color: white;
  height: 4rem;
  border-radius: .5rem;
  border: 0;
  font-size: 1.8rem;
  text-align: center;
}
.searchUser button {
  width: 10%;
  border-radius: 1rem;
}
.headPublicmodal,.headPublicUser {
  margin-left: .0;
  width: 45%;
  top: 22%;
  background-color:  rgba(7, 7, 17, 0.47);
  border: 10px solid rgba(34, 31, 31, 0.166) ;
}
.headPublicUser{
  width: 80%;
  top: 16%;
  margin-left: 2rem;
}
.searchUserPost{
  top:9% ;
  width: 20%;
  background-color: #0000007a;
}
.searchUserPost input{
  width: 89%;
  background-color: transparent;
  color: white;
  height: 4rem;
  border-radius: .5rem;
  border: 0;
  font-size: 1.5rem;
  text-align: center;
}
.searchUserPost button{
  width: 10%;
  border-radius: 1rem;
}
.titleInfomodal, .titleInfoUser{
  width: 25%;
}
.titleInfoL{
  color: white ;
  width: 25%;
  text-align: center;
  
}
.publicUser{
  width: 95.5%;
  top: 16%;
  margin-left: 2rem;
}

.infoPublic{
  color: white;
  font-size: 2rem;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 50%;
}

.infoPublicID .infoUserID{
  border-right: 2px solid white;
}
.infoPublicU .infoUserU{
  border-right: 2px solid white;
}
.infoPubliF .infoUserC{
  border-right: 2px solid white;
}
.infoPubliL  {
  border-right: 2px solid white;
}
.infoUserP{
  border-right: 2px solid white;
}
.btnpublic {
  width: 25%;
}
.btnUser{
  width: 20%;
}
.modal{
  --bs-modal-bg:transparent;
  --bs-modal-border-color: 0;
}
.modal-img img {
  width: 98%;
}
.modal-img{
    width: 70%;
    height: 100%;
    
}
.etiquetas{
  font-size: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  flex-direction: row;
  width: 100%;
  overflow-y:auto;
  -webkit-scrollbar-track-piece:transparent;
  -webkit-scrollbar-thumb:transparent;
  justify-content: center;
  align-items: center;
}

/* -----------------------------CVA5--------------------------------- */

.nav_createPlace{
  color: white;
  font-size: 3rem;
  height: 13%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  border-bottom: solid #919191 3px ;
  padding: 1.5rem;
}

.button_createPlace{
  height: 100%;
  width: 26.4rem;
  
}

#btnPlace_cancel{
  margin-left:2rem ;
  width: 75%;
  height: 100% ;
  padding: 1rem;
  font-size: 2.6rem;
  background-color: #868686 ;
  color:#e3efff;
  font-family: "Inter", sans-serif;
  border-radius: 1.5rem;  
}

#btnPlace_cancel:hover{
  background-color: #e3efff;
  color:  #868686;
}

#content_createPlace{
  height: 80%;
  width:90%;
  border-radius: 2rem;
  border: 5px solid #d0d0d0 ;
  overflow: scroll;
  display: flex;
  padding: 2.5rem;
  overflow-y: auto;
}

.createPlace_contentInput{
  height: 100%;
  width: 50%;
  flex-direction: column;
  display: flex;
}

.titleInput_createPlace{
  font-family: "Inter", sans-serif;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

.createPlace_input{
  width: 95%;
  height: 4rem;
  border-radius: 1rem;
  padding-left: 1.5rem;
  border: solid #d1d1d1 2px;
  margin-bottom: 2rem;
}

#CPI_description{
  resize: none;
  height: 12rem;
  
}

#CPI_info{
  resize: none;
  height: 12rem;
}

/* --------------------------------------------------------------- */


@media (min-width: 1200px){
.modal-xl {
    --bs-modal-width: 869px !important;
}}
.text-modal{
  padding: 1rem;
  width: 30%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}
.modal-title{
text-align: center;
width: 100%;
height: 20%;
font-size: 2rem ;
color: #000000;
border-bottom: #0100003a solid 2px;
}
.text-modal p{
  color: #000000;
  width: 96%;
  height: auto;
  font-size: clamp(1.7rem,1vw,2rem);
  overflow-y: scroll;
  margin: 0;
}
.etiquetas p{
 border: #fe7600 1px solid;
 border-radius: 1rem;
 padding: 2px 6px 2px;
  width: auto;
  }
.marco-btn{
  height: 12%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#btnDetalles button{
  font-size: clamp(1rem, 1.2vw ,2.1rem) !important;
  margin: 1rem;
  color: #ffffdb;
  padding: 1rem 1.375rem;
  background: #fe7600;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-family: 'Poppins', sans-serif;
}
#btnDetalles button:hover{
  background-color: #ffffdb;
  color: #fe7600;
  transform: scale(1.1);
}

.modal-acco{
    width: 40%;
    height: 100%;
}
.modal-marco tr{
    width: 100%;
    height: 100%;
    display: flex;
    
}
.modal-body{
  display: flex ;
  flex-direction: column ;
  background-color:rgba(255, 255, 255, 0.3) !important;
  backdrop-filter: blur(50px)  ;
  padding: 0 !important;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1.5rem;
  border-top-left-radius: 1rem;
  height: 500px;
}
.modal{
  backdrop-filter: blur(10px);
}
.modal-dialog{
  top: 15%;
}

.modal-footer{
  padding: 0 !important;
  background-color: transparent !important;
  border-top: 0 !important;
}
.tituloModal{
  /*border: 2px solid red;*/
   width: 100%;
  
   margin: 0 !important;
}
.modal-header{
   /*border: 2px solid black;*/
 margin-bottom: -0.6rem !important;
 width: 100.6%;
 border: 0 !important;
 ;

 }
.btn-close{
   background-color: rgba(238, 238, 238, 0.867)!important;
   height: 2rem !important ;
   width: 4rem !important;
   padding: 0.4rem 1rem !important;
   margin-bottom: -5rem;  
   border-radius: 0rem !important;
   border-top-right-radius: 1rem !important;
   border-top-left-radius: 1rem !important;
}

.btn-close:hover{
   background-color: rgba(255, 255, 255, 0.3) !important;
   backdrop-filter: blur(50px) !important;
}

.modelAl{
  position: absolute;
   background-color: rgba(255, 255, 255, 0.044) ;
   backdrop-filter: blur(10px);
   width: 100%;
   height: 100%;
   z-index: 10;
   top: 0%;
   display: none;
   justify-content: center;
   align-items: center;
}
.modelAlCon{
  width: 60%;
  height: 80%;
  background-color:rgba(255, 255, 255, 0.3) ;
  border: solid 1rem rgba(37, 35, 35, 0.63);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
#btnListPubli{
  font-size: 1.5rem;
}
.ViewUser{
  display: flex;
  justify-content: left;
  gap: 5%;
}
.profileNavUser{
  background-color: rgba(41, 38, 38, 0.789);
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.logoUser{
  width: 100%;
  background-color: transparent !important;
  
}
.infoUser{
  display: flex;
  flex-direction: column;
  height: 10%;
  width: 100%;
  justify-content: center;
  align-items: center ;
  
}
.infoUser label {
  color: white;
  border: 2px solid white;
}
.freeUser{
  width: 100%;

  height: 51%;
}
.contentUser{
  background-color: rgba(33, 28, 28, 0.41) ;
  backdrop-filter: blur(10px);
  height: 89%;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
